:root {
    /* Global Variables */
    --nciBackground: #3498db;
    --nciSpecial: #d0fa69;
    --chSpecial: #99c93e;
    --mainText: white;
    --tableWidth: 60vw;
    --boxShadow: 2px 2px 5px 0px rgba(255,255,255,1);
    --textShadow: 2px 2px 2px rgba(181, 239, 73, 0.73);
    
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

h1 {
    text-align: center;
}

