<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Manager</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/login.css">
    <script src="https://kit.fontawesome.com/dda40b011f.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="body-container">
        <header>
            <div class="header-top-row">
                <span id="contact-number">(+61) 1300 634 104</span>
                <span id="header-login">
                    {% if session.get('user') %}
                        <a href="{{ url_for('logout') }}">Logout</a>
                    {% else %}
                        <a href="{{ url_for('login') }}">Login</a>
                    {% endif %}
                </span>
            </div>
            <nav>
                <div class="nav-logo">
                    <a href="/"><img src="/static/images/header-logo.png"></a>
                </div>
                <div class="nav-menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>
                            Maps
                            <ul class="dropdown">
                                <li><a href="#career-partners">Career Partners</a></li>
                                <li><a href="#graduates">Our Graduates</a></li>
                                <li><a href="/database">Database Mgr</a></li>
                            </ul>
                        </li>
                        <li>
                            About
                            <ul class="dropdown">
                                <li><a href="https://cleanhealth.edu.au/about/our-team/" target="_blank">Our Team</a></li>
                                <li><a href="https://cleanhealth.edu.au/about/our-partners/" target="_blank">Our Partners</a></li>
                                <li><a href="https://cleanhealth.edu.au/about/become-an-affiliate/" target="_blank">Become an Affiliate</a></li>
                            </ul>
                        </li>
                        <li><a href="https://cleanhealth.edu.au/contact/" target="_blank">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <main>
            <div class="login-container">
                <h1>Database Login</h1>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
                <form action="{{ url_for('login') }}" method="POST">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                    <button type="submit">Login</button>
                </form>
            </div>
        </main>
    
        <footer>
            <div class="footer-top">
                <div class="footer-top-col-one">
                    <ul>
                        <li>BECOME A PERSONAL TRAINER</li>
                        <li><a href="https://cleanhealth.edu.au/become-a-personal-trainer/clean-health-master-personal-trainer/" target="_blank">Clean Health Master Personal Trainer</a></li>
                        <li><a href="https://cleanhealth.edu.au/become-a-personal-trainer/clean-health-elite-personal-trainer/" target="_blank">Clean Health Elite Personal Trainer</a></li>
                        <li><a href="https://cleanhealth.edu.au/product/online-courses/online-personal-trainer-certification/" target="_blank">Clean Health Online Personal Trainer</a></li>
                    </ul>
                </div>
                <div class="footer-top-col-two">
                    <ul>
                        <li>ONLINE COURSES</li>
                        <li><a href="https://cleanhealth.edu.au/product/online-courses/performance-nutrition-coach-certification/" target="_blank">Nutrition Courses</a></li>
                        <li><a href="https://cleanhealth.edu.au/product/online-courses/performance-pt-coach-certification/" target="_blank">Program Design Courses</a></li>
                        <li><a href="https://cleanhealth.edu.au/product/online-courses/industry-leaders-program/" target="_blank">Business Courses</a></li>
                        <li><a href="https://cleanhealth.edu.au/product/online-courses/biolayne-nutrition-certification/" target="_blank">Layne Norton Courses</a></li>
                        <li><a href="https://cleanhealth.edu.au/product/online-courses/training-the-female-athlete/" target="_blank">Hattie Boydle Courses</a></li>
                        <li><a href="https://cleanhealth.edu.au/product/online-courses/strength-system-international-certification/%20" target="_blank">Sebastian Oreb Courses</a></li>
                        <li><a href="https://cleanhealth.edu.au/sp/pca-3-for-one-offer/" target="_blank">Physique Coaching Academy Certification</a></li>
                    </ul>
                </div>
                <div class="footer-top-col-three">
                    <ul>
                        <li>FREE RESOURCES</li>
                        <li><a href="https://cleanhealth.edu.au/op/biolayne-top-20-fat-loss-tips-download/" target="_blank">Free Layne Norton Ebook</a></li>
                        <li><a href="https://cleanhealth.edu.au/fat-loss-fundamentals-free-online-course/" target="_blank">Free Fat Loss Course</a></li>
                        <li><a href="https://ch.cleanhealth.edu.au/free-pt-business-course" target="_blank">Free PT Business Course</a></li>
                        <li><a href="https://www.facebook.com/groups/chfistudentgroup" target="_blank">Student Community</a></li>
                        <li><a href="https://cleanhealth.edu.au/blog/" target="_blank">Blog</a></li>
                    </ul>
                </div>
                <div class="footer-top-col-four">
                    <ul>
                        <li><a href="https://cleanhealth.edu.au/contact/" target="_blank">CONTACT US</a></li>
                        <li><a href="https://cleanhealth.edu.au/about/our-partners/" target="_blank">OUR PARTNERS</a></li>
                        <li><a href="https://cleanhealth.edu.au/about/become-an-affiliate/" target="_blank">BECOME AN AFFILIATE</a></li>
                        <li><a href="https://cleanhealth.edu.au/about/our-team/" target="_blank">OUR TEAM</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-middle">
                <div class="footer-middle-left">
                    <a href="/"><img src="/static/images/header-logo.png"></a>
                </div>
                <div class="footer-middle-middle">
                    <ul class="socials">
                        <li><a href="https://www.instagram.com/cleanhealthfitnessinstitute/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCC8jjq029JijQ22nUe6FyqQ" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href="https://www.facebook.com/cleanhealthfitnessinstitute/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="https://www.tiktok.com/@clean.health" target="_blank"><i class="fa-brands fa-tiktok"></i></a></li>
                        <li><a href="https://au.linkedin.com/company/clean-health-fitness" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="footer-middle-right">
                    QUESTIONS? (+61) 1300 634 104
                </div>
            </div>
            <div class="footer-bottom">© Clean Health 2024 | <a href="https://cleanhealth.edu.au/privacy-policy/" target="_blank">Privacy Policy</a> | <a href="https://cleanhealth.edu.au/terms-and-conditions/" target="_blank">Terms & Conditions</a></div>
        </footer>
    </div>
    

</body>
</html>